keep/
fasta
.ipynb_checkpoints/
*.npy
*.txt
*.pyc
*.log
clients/tile-searcher-backend/node_modules/
*.fwi
*.gz
*.gzi
hiq-pgp-info
clients/tile-searcher-react/node_modules/
clients/node_modules/
output/
